<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File"
				name="Timer"
				fileName="logs/Timer.txt"
				layout="${longdate} ${level:uppercase=true} ${message}" />
		<target xsi:type="File"
				name="DataLoader"
				fileName="logs/CSVFileLoaderLogs.txt"
				layout="${longdate} ${level:uppercase=true} ${message}" />
		<target xsi:type="File"
				name="Test"
				filename="logs/Test.txt"
				layout="${message}"/>
		<target xsi:type="File"
				name="Correlation"
				filename="logs/Correlation.txt"
				layout="${message}"/>
	</targets>

	<rules>
		<logger name="TimeLogger" minlevel="Trace" writeTo="Timer" />
		<logger name="DataLoadLogger" minlevel="Trace" writeTo="DataLoader" />
		<logger name="Test" minlevel="Trace" writeTo="Test" />
		<logger name="Correlation" minlevel="Trace" writeTo="Correlation" />
		
	</rules>
</nlog>